<div class="container" style="margin-top: 70px;">
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <%# image_tag avatar_url(@other), class: "img-circle avatar-medium" %><br>
    <strong><%=@other.first_name
  @other.last_name %></strong>
    <%# link_to "View Profile", @other, class: "btn btn-default wide" %>
  </div@other.first_name
 @other.last_name
  <div class="col-md-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        Conversation with <%=@other.first_name
 @other.last_name %>
      </div>
      <div class="panel-body">

          <%= form_for [@conversation, @conversation.messages.new] do |f| %>
            <div class="form-group">
              <%= f.text_area :content, placeholder: "Add a personal message", class: "form-control" %>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>

            <div class="actions">
              <%= f.submit "Send Message", class: "btn btn-orange" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>

<!--     <div id="chat">
      <%= render @messages, locals: {conversation: @conversation} %>
    </div> -->

  </div>

</div>

