<h1>Your Bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <%= cl_image_tag cocktail.photo, height: 150, width: 150, crop: :thumb %>
    <p><%= booking.cave.name %><p>
    <span><%= link_to 'Get Details', booking_path(booking), class: 'btn btn-info' %></span>
  <!-- <span><%= link_to 'Edit', edit_path(booking), class: 'btn btn-treehouse' %></span> -->
    <span><%= link_to 'Delete', delete_path(booking), class: 'btn btn-danger',  method: :delete,
                           data: { confirm: 'Are you sure?' } %></span>
  <% end %>
</ul>
