<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <h1><%= "Hi, I'm" + " " + @user.first_name + " " + @user.last_name %></h1>
        <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>
        <h2><%= "Joined in 10,000 B.C."%></h2>
        <div class="center">
          <ul class="list-inline">
            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <li><h3>.</h3></li>
            <li><%= link_to "Back to all caves", root_path %></li>
          </ul>
        </div>
      </div>
  </div>



