<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Create a new Cave</h1>

      <%= simple_form_for @cave do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <!-- <%# f.input :amenities %> Putting aside for demo -->
        <!-- <%# f.input :rating, collection: 0..5 %> Needs to be removed, you cannot rate your own cave-->
        <%= f.input :availability %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

