<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= @cave.photo %>'); height: 50vh; background-position: center;">
</div>

<div class="header-cave">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-cave-details">
          <div class="header-cave-owner  text-center">
            <img src="https://kitt.lewagon.com/placeholder/users/stephlaf" class="img-circle" width="80" alt="<%= @cave.user.email %> TODO add names to user table" />
            <p><%= @cave.user.first_name %> <%= @cave.user.last_name %></p>
          </div>
          <div class="header-cave-name">
            <h1><%= @cave.name %></h1>
            <p><%= @cave.address %></p>
            <p class="rating">
              <% @rating = @cave.rating.to_i %>
              <% @rating.times do %>
                <i class="fa fa-star" style= "color: orange"></i>
              <% end %>
              <%  if @rating < 5
                meh_num = 5 - @rating
                meh_num.times do
                %>
                  <i class="fa fa-star"></i>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <form action="#" >
          <h4>Book this cave</h3>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="<%= Date.today.strftime("%m/%d/%Y") %>" id="checkin">
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="<%= (Date.today + 3).strftime("%m/%d/%Y") %>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <select name="" id="guests" class="form-control">
              <option value="1">1 guest</option>
              <option value="2">2 guests</option>
              <option value="3">3 guests</option>
            </select>
          </div>
          <input type="submit" class="btn btn-brown" value="Book it" style="width: 100%">
        </form>
      </div>
    </div>
  </div>
</div>

<div id="cave-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>About this cave</h2>
        <p><%= @cave.description %></p>

        <hr>
        <div class="row" id="cave-data">
          <div class="col-xs-12 col-sm-2">
            The Space
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Cave Type:  <strong>Cavern</strong></li>
              <li>Accommodates:  <strong>2</strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Bed type:  <strong>Rock Slab</strong></li>
              <li>Number of Beds: <strong>1</strong></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row" id="cave-data">
          <div class="col-xs-12 col-sm-2">
            Amenities
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <% @amenities_per_column = (@cave.amenities.length / 2) %>
              <% @display_count = 1  %>
              <% @cave.amenities.each do |amenity| %>
                <% if (@display_count <= @amenities_per_column) %>
                  <li><%= amenity.icon.html_safe %> <strong><%= amenity.name %></strong></li>
                <% end %>
                <% @display_count += 1 %>
              <% end %>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
                <% @display_count = 1  %>
                <% @cave.amenities.each do |amenity| %>
                <% if (@display_count > @amenities_per_column) %>
                  <li><%= amenity.icon.html_safe %> <strong><%= amenity.name %></strong></li>
                <% end %>
                <% @display_count += 1 %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
