<!--not actual routes. Only place holders -->

<h1><%= @cave.name %><h1>
<div>

  <img/>
  <h3><%= @cave.price %></h3>
  <p><%=  @cave.rating%></p>
  <p><%=  @cave.availablilty%></p>
   <ul><li><%=  @cave.amenities %></li></ul>
</div>
<%= link_to "back", caves_path %>
