<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= @cave.photo %>'); height: 50vh; background-position: center;">
</div>

<div class="header-cave">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-cave-details">
          <div class="header-cave-owner text-center">
            <% if @cave.user.photo %>
              <img src="<%= @cave.user.photo %>" class="avatar-large" alt="<%= @cave.user.first_name %> <%= @cave.user.last_name %>" />
            <% end %>
            <p class="header-cave-owner"><%= @cave.user.first_name %> <%= @cave.user.last_name %></p>
          </div>
          <div class="header-cave">
            <h1><%= @cave.name %></h1>
            <p class="cave-data"><i><%= @cave.address %></i></p>
            <p class="cave-data"><%= @cave.price %> rocks per night</p>
            <p class="rating"><% @rating = @cave.rating.to_i %>
              <% @rating.times do %>
                <i class="fa fa-star" style= "color: orange;"></i>
              <% end %>
              <%  if @rating < 5
                meh_num = 5 - @rating
                meh_num.times do
                %>
                  <i class="fa fa-star"></i>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= render("bookings/form")  %>
      </div>
    </div>
  </div>
</div>

<div id="cave-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>About this cave</h2>
        <p><%= @cave.description %></p>
        <%= link_to "Message the grub in charge", conversations_path(sender_id: current_user.id, recipient_id: @cave.user.id), method: :post, class: "btn btn-danger" %>


        <hr>
        <div class="row" id="cave-data">
          <div class="col-xs-12 col-sm-2">
            The Space
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Cave Type:  <strong><%= @cave.cave_type.name %></strong></li>
              <li>Accommodates:  <strong><%= @cave.accommodates %></strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Bed type:  <strong><%= @cave.bed_type.name %></strong></li>
              <li>Number of Beds: <strong><%= @cave.number_of_beds %></strong></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row" id="cave-data">
          <div class="col-xs-12 col-sm-2">
            Amenities
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <% @amenities_per_column = (@cave.amenities.length / 2.to_f).round %>
              <% @display_count = 1  %>
              <% @cave.amenities.each do |amenity| %>
                <% if (@display_count <= @amenities_per_column) %>
                  <li><%= amenity.icon.html_safe %> <strong><%= amenity.name %></strong></li>
                <% end %>
                <% @display_count += 1 %>
              <% end %>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
                <% @display_count = 1  %>
                <% @cave.amenities.each do |amenity| %>
                <% if (@display_count > @amenities_per_column) %>
                  <li><%= amenity.icon.html_safe %> <strong><%= amenity.name %></strong></li>
                <% end %>
                <% @display_count += 1 %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= form_for([@cave, @review]) do |f| %>
    <br>
    <h3> Leave a review for this cave </h3>
    <br>
    <p> *Required Field </p>
    <div id="user_stars"><%= f.number_field :stars, required: true, in: (1..5), rows: 3, class: "form-control" %></div>
    <br>
    <p> *Required Field </p>
    <div class="form-group">
      <%= f.text_area :comment, required: true, rows: 3, class: "form-control" %>
    </div>


    <div class="actions">
      <%= f.submit "Submit Review", class: "btn btn-orange" %>
      <br>
    </div>

  <% end %>
 <% if @cave.reviews.any? %>
 <% @cave.reviews.each do |review| %>
 <div>
  <br>
  <br>
  <p> Rating: <%= review.stars %> stars out of 5 </p>
  <p><%= review.comment %></p>
 </div>
 <% end %>
 <% end %>
<script>
  $('#user_stars').raty({
    path: '/assets',
    scoreName: 'review[star]',
    score: 1
  });
</script>
</div>
